body{
    background-image: url(../img/pattern.jpg);
}

header{
    background-color:#fff;
    display:flex;
    justify-content:space-between;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    width:100%;
}

ul{
    list-style-type: none;
    
}

ul li{
    display:inline-block;
    padding-right: 10px;
}

ul li a{
    font-size:23px;
    text-decoration:none;
}

section{
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: 70px;
    margin-bottom:50px
}

h1{
    padding-top: 15px;
    text-align:center;
}

#article-list{
    
    padding: 50px;
}

article{
    padding-top: 35px;
    border-bottom:black solid 1px;
}

article a{
    text-decoration:none;
}

footer{
    position:static;
    background-color: black;
    height: 60px;
}

footer h5{
    text-align:center;
    color: white;
    padding: 22.5px;
}